// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
// IMPORTS (END)

/* BOX SHADOW */
$blue-box-shadow-light: 0 4px 8px 4px rgba(0, 46, 230, 0.421);
$blue-box-shadow-medium: 0 4px 8px 4px rgba(0, 46, 230, 0.701);
/* BOX SHADOW (END) */

/* FONT COLORS */
$primary-font-color: #4e4e4e;
$white: #ffffff;
/* FONT COLORS (END) */

/* FONT FAMILIES */
$jetBrainsMono: 'JetBrains Mono', monospace;
/* FONT FAMILIES (END) */

// BACKGROUND
// $backgroundColor-1: #14001a;
// $backgroundColor-1: #00031a;
$backgroundColor-1: #070016;
// BACKGROUND (END)