@import '../../../Scss/root/index';

.social-component-container
{
    background-color: $backgroundColor-1;
    
    .email-text
    {
        text-align: center;
        color: $white;
        font-size: 1.5rem;
    }
}

.social-title-container
{
    display: flex;
    justify-content: center;
    
        .social-component-title
    {
        font-size: 3.2rem;
        // text-transform: uppercase;
        color: $white;
        text-align: center;
    }

    .social-title-icon
    {
        color: $white;
        font-size: 3.5rem;
    }
}

.social-icons-container
{
    text-align: center;


    .social-icon
    {
        margin: 10px;
        cursor: pointer;
        color: rgb(196, 196, 196);
        font-size: 3.5rem;
        transition: all .3s;
        
        &:hover
        {
            color: $white;
        }
    }
}

@media screen and (max-width: 1044px)
{
}

@media screen and (max-width: 800px)
{
    .social-title-container
    {
            .social-component-title
        {
            font-size: 2rem;
        }

        .social-title-icon
        {
            font-size: 1.8rem;
        }
    }

        .social-component-container
    {    
        .email-text
        {
            font-size: .6rem;
        }
    }
}

@media screen and (max-width: 420px)
{
    .social-title-container
    {
            .social-component-title
        {
            font-size: 1.5rem;
        }

        .social-title-icon
        {
            font-size: 1.3rem;
        }
    }

        .social-component-container
    {    
        .email-text
        {
            font-size: .6rem;
        }
    }

    .social-icons-container
    {
        text-align: center;


        .social-icon
        {
            font-size: 2.2rem;
        }
}

}