@import './root/index';

*
{
    background-color: $backgroundColor-1;
    box-sizing: border-box;
    font-family: $jetBrainsMono;
}

.full-app-container
{
    background-color: $backgroundColor-1;
    display: grid;
    grid-template-rows: 30% auto auto auto;
}

@media screen and (max-width: 1044px)
{
    .full-app-container
    {
        grid-template-rows: 34% auto auto auto;
    }
}

@media screen and (max-width: 800px)
{
    .full-app-container
    {
        grid-template-rows: 35% auto auto auto;
    }
}

@media screen and (max-width: 420px)
{
    .full-app-container
    {
        grid-template-rows: 25% auto auto auto;
    }
}